---
title: Welcome to Middleman
---

<div class="four wide column">
  <div class="logo">
    <img src="images/logo.svg">
  </div>
</div><!-- .welcome -->
<div class="twelve wide column">
  <h1 class="ui header">This is for the frontend course on CULS</h1>
  <div class="ui stackable  grid">
    <p class="ui text eight wide column">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor porta purus, eget mattis nunc varius eget. Cras suscipit dui cursus feugiat mollis. Vivamus nec arcu at augue ultrices consectetur quis scelerisque libero. Donec blandit quam sed massa lobortis, sed molestie lectus tristique. Aenean ac ultrices elit, et consequat sapien. Suspendisse sed nulla a lacus luctus eleifend. Ut sem dui, interdum auctor varius sed, pulvinar sed ligula. Fusce vel diam ullamcorper, scelerisque ex eget, laoreet metus. Sed et leo eu enim gravida feugiat sed vel nunc. Etiam tristique arcu ut laoreet volutpat.</p>
    <p class="ui text eight wide column">Phasellus nunc nisl, fringilla non scelerisque vitae, sagittis eget mauris. Sed quis quam ac odio suscipit viverra a efficitur quam. Suspendisse et ornare libero, vitae interdum leo. Donec lacinia erat nisl, quis cursus eros semper et. Nulla dictum dui diam. Suspendisse iaculis erat in ullamcorper efficitur. Donec sit amet mattis ligula, eget volutpat orci. Nulla auctor, sapien at dapibus consequat, diam risus sagittis mi, vehicula vehicula felis neque in ligula. Fusce tellus mi, imperdiet at eleifend eget, varius a dolor. Duis ullamcorper turpis sed ipsum ornare, a volutpat sapien cursus. Quisque dictum libero sodales nulla sodales interdum. Sed malesuada gravida dui, sit amet imperdiet neque consectetur eget.</p>
  </div>
</div>
<form class="ui form">
  <div class="ui icon message">
    <i class="notched circle loading icon"></i>
    <div class="content">
      <div class="header">
        Just one second
      </div>
      <p>We're fetching that content for you.</p>
    </div>
  </div>
  <div class="ui fields">
    <div class="ui ten wide field">
      <label>User name</label>
      <input type="text">
    </div>
    <div class="ui six wide field">
      <label>User Nickname</label>
      <input type="text">
    </div>
  </div>
  <div class="ui fields">
    <div class="ui labeled icon primary button">
      <i class="save icon"></i>
      Save
    </div>
  </div>
</form>
