---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "logo.svg" %>
  </div>
  <h1>Middleman is Running Crazy for us</h1>
  <p>This is for the frontend course on CULS</p>
</div><!-- .welcome -->
